.footer {
    height: 230px;
    background: #fff;
    padding: 56px;
    &__container {
    }

    &__body {
        display: flex;
    }

    &__logo {
        width: 40px;
        height: 40px;
        background: url(../source/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 175px;
        margin-top: 6px;
    }

    &__text {
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        span {
            color: $primary-color;
            margin-left: 68px;
        }
    }

    &__social-wrapper {
        margin-left: auto;
        display: flex;
    }

    &__social {
        cursor: pointer;
        &:first-child {
            width: 38px;
            height: 38px;
            background: url(../source/tele.svg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;
        }
        &:last-child {
            width: 34px;
            height: 34px;
            background: url(../source/vk.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}